{{#each this}}
<h2 class="country-card__name">{{name}}</h2>
<ul class="country-card__list">
    <li class="country-card__capital"><span> Capital: </span>{{capital}}</li>
    <li class="country-card__population">
        <span>Papulation:</span> {{population}}
    </li>
    <li class="country-card__languages">
        <span> Languages:</span>
        <ul class="country-card__languages-list">
            {{#each languages}}
            <li class="languages__item">{{this.name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
<img src="{{flag}}" alt="{{name}}" class="img-flag" />
{{/each}}